/* Überschreiben des "Publisso"-Balu durch das Grün der TU Dortmund */

::selection {
  background: #639a00;
}

::-moz-selection {
  background: #639a00;
}

.main-container a {
  color: #639a00;
}

a:hover, a:focus, a.active {
  color: #639a00;
}

a.link--calltoaction {
  background-color: #639a00;
}

.intern {
  color: #639a00;
}

header .level2 {
  border-color: #639a00;
}

.navbar-collapse .menu > li > a:hover, .navbar-collapse .menu > li > a:focus {
  background-color: #639a00;
}

.breadcrumb .active {
  color: #639a00;
}

.breadcrumb a:hover {
  color: #639a00;
}

.card__body .mail {
  color: #639a00;
}

.card__body .mail:hover, .card__body .mail:focus {
  color: #639a00;
}

.nav-tabs {
  border-color: #639a00;
}

.pub-nav-tabs li.active a {
  background-color: #639a00;
  border-color: #639a00;
}

.pub-nav-tabs li.active a:hover, .pub-nav-tabs li.active a:focus {
  border-color: #639a00;
  background-color: #639a00;
}

.article__suporting-information .block {
  border-color: #639a00;
}

.article__suporting-information .view-download-list a {
  color: #639a00;
}

.form-primary button[type='submit'] {
  background-color: #639a00;
}

footer .social a:hover span:before, footer .social a:focus span:before {
  color: #639a00;
}

footer .toplink:hover, footer .toplink:focus {
  color: #639a00;
}

.border-top {
  border-color: #639a00;
}

.main-container a:not(.btn) {
  color: #639a00;
}

a.contact {
  color: #639a00;
}

.navbar-collapse .menu>li>span:hover, .navbar-collapse .menu>li>span:focus {
  background-color: #639a00;
}

.navbar-offcanvas .on>a, .navbar-offcanvas .on>button[data-toggle=dropdown] span {
  background-color: #639a00;
}

.navbar-offcanvas .on>a, .navbar-offcanvas .on>button[data-toggle=dropdown] span:hover {
  background-color: #639a00 !important;
}

.navbar-offcanvas button[data-toggle="dropdown"] span {
  color: #639a00;
}

.offcanvas-toggle {
  background-color: #639a00;
}

.pub-nav-tabs li.active a {
  background-color: #639a00;
  border-color: #639a00;
}

.pub-nav-tabs li.active a:hover, .pub-nav-tabs li.active a:focus {
  border-color: #639a00;
  background-color: #639a00;
}

.form-primary button[type='submit'] {
  background-color: #639a00;
}

.book-list .media {
  border-color: #375b9a;
}

.journal-list .media {
  border-color: #639a00;
}

.media-video {
  border-color: #639a00;
}

.modal .close {
  color: #639a00;
}

footer .social a:hover span:before, footer .social a:focus span:before {
  color: #639a00;
}

footer .toplink:hover, footer .toplink:focus {
  color: #639a00;
}

div#nav span#icon{
  color: #639a00;
}

div#nav li.active{
  background-color: #639a00;
}

div#nav li div.active{
  background-color: #639a00;
}

body p span.rwHighlight{
  background-color: #639a00 !important;
}

a.btnPublissoDefault {
  background-color: #639a00;
}

span.fakeLink {
  color: #639a00;
}

img#site-logo{
  max-width: 400px;
}

img#footer-logo{
  max-width: 600px;
}

ul.journal-list li.media div.media-right img.media-object{
  width: 100px;
}