<a name="main" class="visually-hidden focusable skip-link">
    Direkt zum Inhalt
</a>

<header class="navbar container-fluid" id="navbar" role="banner">

    <div class="width-control">

        <div class="navbar-meta">
            {{ page.navbarmeta }}
				</div>

        <div class="navbar-header">
            <div class="region region-navigation">
                {% if logo_src %}
                    <a href="{{ logo_url }}">
                        <img src="{{ logo_src }}" style="{{ logo_styles }}">
                    </a>
                {% endif %}
            </div>

            <div class="search-block-form block-search" id="block-bootstrap-search" role="search">
                {{ page.search }}
					</div>

            <div id="mobile-togger" class="icon-menu" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </div>
        </div>

        <div class="navbar-collapse collapse">
            <div class="region region-navigation-collapsible">
                <nav role="navigation" aria-labelledby="block-bootstrap-main-menu-menu" id="block-bootstrap-main-menu" class="contextual-region">
                    {% block topmenu %}
                        {{ page.topmenu }}
                    {% endblock %}
                </nav>

            </div>
        </div>
    </div>
</header>

<div role="main" class="main-container container-fluid js-quickedit-main-content">
    <div class="row">
        <div class="width-control">
            {{ page.sidecontrol }}

            <div class="col-sm-12" role="heading">
                <div class="region region-header">
                    <ol class="breadcrumb">
                        {% block breadcrumb %}
                            {{ page.breadcrumb }}
                        {% endblock %}
                    </ol>
                    {{ page.content }}
                    {{ page.content2 }}









                </div>
            </div>
            <section class="col-sm-12">
                {{ page.content3 }}
            </section>
        </div>
    </div>
</div>
<div class="region">
    {{ page.slider }}
</div>

<footer class="footer container-fluid" role="contentinfo">
    <div class="container-fluid" style="max-width: 1260px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="row social-links">
                    {% block footer_menu_top %}
                    {{ page.footer_menu_top }}
                    {% endblock %}
                </div>
                <div class="row footer-menu">
                    {% block footer_menu_bottom %}
                    {{ page.footer_menu_bottom }}
                    {% endblock %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-10">
                        {% block footer_right %}
                            {% if footer_logo_left %}
                                <a href="{{ footer_logo_left.url }}">
                                    <img src="{{ footer_logo_left.src }}" style="{{ footer_logo_left.styles }}">
                                </a>
                            {% endif %}

                            {% if footer_logo_right %}
                                <a href="{{ footer_logo_right.url }}">
                                    <img src="{{ footer_logo_right.src }}" style="{{ footer_logo_right.styles }}">
                                </a>
                            {% endif %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-2">
                        <a class="toplink" href="#main" style="top: 40px;">to top<span class="icon-arrow-up" aria-hidden="true" style="font-size: 16px;"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<iframe id="tinymce_upload" name="tinymce_upload" style="display:none"></iframe>
<form id="form_tinymce_upload" action="/upload.php" target="tinymce_upload" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
    <input id="image" name="image" type="file">
</form>
